<section class="benefits" id="benefits">
  <div class="benefits-container container">
    <h2 class="benefits-title">Benefits</h2>
    <div class="bg-image-benefits">
      <ul class="benefits-list">
        <li class="benefits-list-item storyline-position">
          Engaging Storyline
          <svg class="icon-arrow-left-start" width="74" height="27">
            <use href="./img/icons.svg#arrow-left-start"></use>
          </svg>
          <svg class="second-arrow-right" width="185" height="115">
            <use href="./img/laptop/icons.svg#arrow-right"></use>
          </svg>
        </li>
        <li class="benefits-list-item combinations-position">
          Delicious Combinations
          <svg class="icon-arrow-left-1" width="57" height="50">
            <use href="./img/icons.svg#arrow-left-1"></use>
          </svg>
          <svg class="second-arrow-down" width="132" height="215">
            <use href="./img/laptop/icons.svg#arrow-down"></use>
          </svg>
        </li>
        <li class="benefits-list-item gameplay-position">
          Exciting Match-3 Gameplay
          <svg class="icon-arrow-up" width="40" height="62">
            <use href="./img/icons.svg#arrow-up"></use>
          </svg>
          <svg class="second-arrow-down-left" width="131" height="156">
            <use href="./img/laptop/icons.svg#arrow-down-left"></use>
          </svg>
        </li>
        <li class="benefits-list-item characters-position">
          Charming Characters
          <svg class="icon-arrow-down" width="55" height="63">
            <use href="./img/icons.svg#arrow-down"></use>
          </svg>
          <svg class="second-arrow-left" width="145" height="84">
            <use href="./img/laptop/icons.svg#arrow-left"></use>
          </svg>
        </li>
        <li class="benefits-list-item events-position">
          Regular Updates & Events
          <svg class="icon-arrow-left" width="35" height="49">
            <use href="./img/icons.svg#arrow-left"></use>
          </svg>
          <svg class="second-arrow-up" width="140" height="229">
            <use href="./img/laptop/icons.svg#arrow-up"></use>
          </svg>
        </li>
        <li class="benefits-list-item challenges-position">
          Strategic Challenges
          <svg class="icon-arrow-down-left-1" width="34" height="42">
            <use href="./img/icons.svg#arrow-down-left-1"></use>
          </svg>
          <svg class="second-arrow-up-right" width="252" height="131">
            <use href="./img/laptop/icons.svg#arrow-up-right"></use>
          </svg>
        </li>
        <li class="benefits-list-item visuals-position">
          Stunning Visuals
          <svg class="icon-arrow-down-left" width="40" height="28">
            <use href="./img/icons.svg#arrow-down-left"></use>
          </svg>
          <svg class="second-arrow-left-up" width="167" height="123">
            <use href="./img/laptop/icons.svg#arrow-left-up"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
