<div id="cookie-overlay" class="cookie-overlay anchor">
  <div id="cookie-banner" class="cookie-container">
    <h2 class="cookie-title">Cookies Policy</h2>
    <p class="cookie-text">We use cookies to improve your experience on our website. By browsing this website, you agree to our use of cookies.</p>
    <div class="cookie-button-container">
      <button id="accept-cookies" class="button-accept-cookie">ACCEPT COOKIES</button>
      <button id="decline-cookies" class="button-decline-cookie">DECLINE COOKIES</button>
    </div>
  </div>
</div>
