<section class="gallery" id="gallery">
  <div class="gallery-container container">
    <h2 class="gallery-title">Gallery</h2>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="../img/mobile/gallery/1x/picture1-mobile.png"
            media="(max-width: 1199px)"
          />
          <source
            srcset="../img/laptop/gallery/1x/picture1-laptop.png"
            media="(min-width: 1200px)"
          />
          <img
            src="../img/laptop/gallery/1x/picture1-laptop.png"
            alt=""
            class="img-gallery"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="../img/mobile/gallery/1x/picture2-mobile.png"
            media="(max-width: 1199px)"
          />
          <source
            srcset="../img/laptop/gallery/1x/picture2-laptop.png"
            media="(min-width: 1200px)"
          />
          <img
            src="../img/laptop/gallery/1x/picture2-laptop.png"
            alt=""
            class="img-gallery"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="../img/mobile/gallery/1x/picture3-mobile.png"
            media="(max-width: 1199px)"
          />
          <source
            srcset="../img/laptop/gallery/1x/picture3-laptop.png"
            media="(min-width: 1200px)"
          />
          <img
            src="../img/laptop/gallery/1x/picture3-laptop.png"
            alt=""
            class="img-gallery"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="../img/mobile/gallery/1x/picture4-mobile.png"
            media="(max-width: 1199px)"
          />
          <source
            srcset="../img/laptop/gallery/1x/picture4-laptop.png"
            media="(min-width: 1200px)"
          />
          <img
            src="../img/laptop/gallery/1x/picture4-laptop.png"
            alt=""
            class="img-gallery"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="../img/mobile/gallery/1x/picture5-mobile.png"
            media="(max-width: 1199px)"
          />
          <source
            srcset="../img/laptop/gallery/1x/picture5-laptop.png"
            media="(min-width: 1200px)"
          />
          <img
            src="../img/laptop/gallery/1x/picture5-laptop.png"
            alt=""
            class="img-gallery"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="../img/mobile/gallery/1x/picture6-mobile.png"
            media="(max-width: 1199px)"
          />
          <source
            srcset="../img/laptop/gallery/1x/picture6-laptop.png"
            media="(min-width: 1200px)"
          />
          <img
            src="../img/laptop/gallery/1x/picture6-laptop.png"
            alt=""
            class="img-gallery"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
