<section class="game-desc anchor" id="game-desc">
  <div class="game-desc-container container">
    <div class="bg-image-goblin">
      <h2 class="game-desc-title">Game Description</h2>
      <ul class="game-desc-list">
        <li>
          Welcome to Heroes of Match 3, an exciting match-3 adventure set in a
          medieval world full of sweets and challenges!
        </li>
        <li>
          Dive into a magical kingdom, match delicious treats, and help King
          Donuttan The Third reclaim his throne.
        </li>
        <li>
          Each level presents strategic puzzles, where you must combine sweets
          to defeat enemies and progress through the royal saga.
        </li>
        <li>
          With engaging characters, special power-ups, and challenging levels,
          this is not just another match-3 game—it’s an epic quest!
        </li>
        <li>Who knows, maybe YOU will become the next ruler of the kingdom?</li>
      </ul>
    </div>
  </div>
</section>
