<header class="header">
  <div class="header-container">
    <picture>
        <source
          srcset="/img/logo-3.png"
          media="(max-width: 1199px)"
        />
        <source
          srcset="/img/logo-2.png"
          media="(min-width: 1200px)"
        />
        <img class="img-header" src="/img/logo-2.png" alt="" width="110" height="110">
    </picture>
    <button type="button" id="burger" class="button-menu">
      <svg width="24" class="icon-burger" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 14H21M3 7H21M3 21H21" stroke="#FBFBFB" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <nav class="nav-menu" id="menu">
      <ul>
        <li class="menu-list-item">
          <a href="#hero">Home</a>
        </li>
        <li class="menu-list-item">
          <a href="#benefits">Benefits</a>
        </li>
        <li class="menu-list-item description-width">
          <a href="#game-desc">Game Description</a>
        </li>
        <li class="menu-list-item">
          <a href="#gallery">Gallery</a>
        </li>
        <li class="menu-list-item features-width">
          <a href="#key-feauters">Key Features</a>
        </li>
        <li class="menu-list-item characters-width">
          <a href="#main-char-desc">Main Characters Description</a>
        </li>
        <li class="menu-list-item">
          <a href="#reviews">Review</a>
        </li>
      </ul>
    </nav>
    <ul class="header-list">
      <li class="header-list-item">
        <a href="#hero">Home</a>
      </li>
      <li class="header-list-item">
        <a href="#benefits">Benefits</a>
      </li>
      <li class="header-list-item description-width">
        <a href="#game-desc">Game Description</a>
      </li>
      <li class="header-list-item">
        <a href="#gallery">Gallery</a>
      </li>
      <li class="header-list-item features-width">
        <a href="#key-feauters">Key Features</a>
      </li>
      <li class="header-list-item characters-width">
        <a href="#main-char-desc">Main Characters Description</a>
      </li>
      <li class="header-list-item">
        <a href="#reviews">Review</a>
      </li>
    </ul>
  </div>
</header>
