<section class="hero" id="hero">
  <div class="hero-container">
    <div class="hero-text-container">
      <h1 class="hero-title">Heroes of the Match 3</h1>
      <p class="hero-text">– A Sweet Adventure in a Medieval World!</p>
      <ul class="hero-list">
        <li>A vibrant match-3 game board featuring delicious sweets.</li>
        <li>
          King Donuttan The Third with a determined look, ready to reclaim his
          throne.
        </li>
        <li>
          Magical medieval surroundings with castles, knights, and royal
          desserts.
        </li>
      </ul>
      <div class="google-play-button-container">
        <a class="google-play-button" href="">
          <img
            class="img-hero"
            src="../img/mobile/logo/google-play-logo-mobile.png"
            alt="google play button"
          />
          <div class="text-google-play-container">
            <p class="text-google-play">GET IN ON</p>
            <h3 class="title-google-play">Google Play</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="img-container">
      <img
        class="phone-play-img"
        src="../img/mobile/1x/phone-play-mobile.png"
        alt=""
      />
      <img
        class="phone-king-img"
        src="../img/mobile/1x/phone-king-mobile.png"
        alt=""
      />
    </div>
  </div>
</section>
