<section class="hero anchor" id="hero">
  <div class="hero-container">
    <div class="hero-text-container">
      <h1 class="hero-title">Heroes of the Match 3</h1>
      <p class="hero-text">– A Sweet Adventure in a Medieval World!</p>
      <ul class="hero-list">
        <li>A vibrant match-3 game board featuring delicious sweets.</li>
        <li>
          King Donuttan The Third with a determined look, ready to reclaim his
          throne.
        </li>
        <li>
          Magical medieval surroundings with castles, knights, and royal
          desserts.
        </li>
      </ul>
      <div class="google-play-button-container">
        <a class="google-play-button" href="https://play.google.com/store/apps/details?id=com.cleverapps.runes&hl=uk" target="_blank">
          <img
            class="img-hero"
            src="/img/laptop/logo/google-play-logo-laptop.png"
            alt="google play button"
          />
          <div class="text-google-play-container">
            <p class="text-google-play">GET IN ON</p>
            <h3 class="title-google-play">Google Play</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="img-container">
      <picture>
        <source
          srcset="
            /img/mobile/1x/phone-play-mobile.png 1x,
          "
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            /img/laptop/1x/phone-play-laptop.png 1x,
            /img/laptop/2x/phone-play-laptop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="phone-play-img"
          src="/img/laptop/1x/phone-play-laptop.png"
          alt=""
        />
      </picture>
      <picture>
        <source
          srcset="
            /img/mobile/1x/phone-king-mobile.png 1x,
            /img/mobile/2x/phone-king-mobile@2x.png 2x
          "
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            /img/laptop/1x/phone-king-laptop.png 1x,
            /img/laptop/2x/phone-king-laptop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="phone-king-img"
          src="/img/laptop/1x/phone-king-laptop.png"
          alt=""
          height="575"
          width="315"
        />
      </picture>
    </div>
  </div>
</section>
