<section class="key-feauters anchor" id="key-feauters">
  <div class="key-feauters-container container">
    <h2 class="key-feauters-title">Key Features</h2>
    <ul class="key-feauters-list">
      <li>
        Unique Medieval Theme: Experience a match-3 adventure set in a medieval
        kingdom of sweets.
      </li>
      <li>
        Heroic Storyline: Follow King Donuttan’s journey to reclaim his throne.
      </li>
      <li>
        Strategic Match-3 Puzzles: Solve exciting puzzles with a mix of tactics
        and luck.
      </li>
      <li>
        Challenging Opponents: Face off against tricky enemies and rival rulers.
      </li>
      <li>
        Powerful Boosters & Combos: Use special moves to clear the board and win
        battles.
      </li>
      <li>
        New Levels & Events: Regular updates bring fresh content and exciting
        challenges.
      </li>
      <li>
        Leaderboards & Competitions: Compete with friends and other players
        worldwide.
      </li>
    </ul>
    <div class="key-feauters-img-container">
      <picture>
        <source
          srcset="
            /img/mobile/1x/goblin-purple-mobile.png 1x,
            /img/mobile/2x/goblin-purple-mobile@2x.png 2x
          "
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            /img/laptop/1x/goblin-purple-laptop.png 1x,
            /img/laptop/2x/goblin-purple-laptop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          src="/img/laptop/1x/goblin-purple-laptop.png"
          alt=""
          class="key-feauters-img"
        />
      </picture>
    </div>
  </div>
</section>
