<section class="main-char-desc" id="main-char-desc">
  <div class="main-char-desc-container container-main-char">
    <h2 class="main-char-desc-title">Main Characters Description</h2>
    <div class="bg-image">
      <ul class="main-char-desc-list">
        <li class="main-char-desc-list-item king-donuttan-position">
          King Donuttan
        </li>
        <li class="main-char-desc-list-item lady-tart-position">Lady Tart</li>
        <li class="main-char-desc-list-item sir-cupcake-position">
          Sir Cupcake
        </li>
        <li class="main-char-desc-list-item count-choco-position">
          Count Choco
        </li>
        <li class="main-char-desc-list-item the-jelly-jester-position">
          The Jelly Jester
        </li>
      </ul>
    </div>
  </div>
</section>
