<section class="reviews" id="reviews">
  <div class="reviews-container container">
    <h2>Reviews</h2>
    <ul>
      <li>
        <p>
          A unique and charming match-3 game with a fun medieval twist! Highly
          recommend!
        </p>
        <h3>Alice M</h3>
      </li>
      <li>
        <p>
          The storyline makes this game so much more engaging than typical
          puzzle games
        </p>
        <h3>John T</h3>
      </li>
      <li>
        <p>
          I love the characters and the sweet-themed world! Super addictive!
        </p>
        <h3>Emily K</h3>
      </li>
      <li>
        <p>The levels get more challenging, but that just makes it more fun!</p>
        <h3>Sophia L</h3>
      </li>
    </ul>
  </div>
</section>
