<section class="reviews anchor" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item alice-bg">
        <p class="reviews-item-text first-margin">
          A unique and charming match-3 game with a fun medieval twist! Highly
          recommend!
        </p>
        <h3 class="reviews-item-title">Alice M</h3>
      </li>
      <li class="reviews-list-item john-bg">
        <p class="reviews-item-text second-margin">
          The storyline makes this game so much more engaging than typical
          puzzle games
        </p>
        <h3 class="reviews-item-title">John T</h3>
      </li>
      <li class="reviews-list-item emily-bg">
        <p class="reviews-item-text third-margin">
          I love the characters and the sweet-themed world! Super addictive!
        </p>
        <h3 class="reviews-item-title">Emily K</h3>
      </li>
      <li class="reviews-list-item sophia-bg">
        <p class="reviews-item-text forth-margin">
          The levels get<br />
          more challenging, but that just makes it more fun!
        </p>
        <h3 class="reviews-item-title">Sophia L</h3>
      </li>
      <li class="reviews-list-item daniel-bg">
        <p class="reviews-item-text forth-margin">
          A great mix of strategy and casual fun. Can’t stop playing!
        </p>
        <h3 class="reviews-item-title">Daniel R</h3>
      </li>
    </ul>
  </div>
</section>
