.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1200px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.game-desc-container {
  background-image: url(../img/mobile/bg-main/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/mobile/bg-main/bg-main-mobile@2x.png);
    }
  }
  @include media(desktop) {
    background-image: url(../img/laptop/bg-main/bg-main-laptop.png);
    padding-top: 131px;
    padding-bottom: 76px;
    @media (min-resolution: 192dpi) {
      .hero {
        background-image: url(../img/laptop/bg-main/bg-main-laptop@2x.png);
      }
    }
  }
  @include media(mobile) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.game-desc-title {
  @include media(mobile) {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.12em;
    text-align: center;
    margin-bottom: 25px;
  }
}

.game-desc-list {
  @include media(mobile) {
    margin-right: auto;
    margin-left: auto;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-indent: 15px;
  }
}
