.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @include media(mobile) {
    padding-left: 19px;
    padding-right: 19px;
  }

  @include media(desktop) {
    max-width: 1200px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.hero-container {
  display: flex;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/mobile/bg-main/bg-main-mobile.png);
  border-bottom: 1px solid #183800;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/mobile/bg-main/bg-main-mobile@2x.png);
    }
  }
  @include media(desktop) {
    background-image: url(../img/laptop/bg-main/bg-main-laptop.png);
    border-bottom: 1px solid #183800;
    max-width: 1200px;
    @media (min-resolution: 192dpi) {
      .hero {
        background-image: url(../img/laptop/bg-main/bg-main-laptop@2x.png);
      }
    }
  }
}

.hero-text-container {
  @include media(mobile) {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  @include media(desktop) {
    padding-top: 131px;
    padding-bottom: 76px;
    margin-right: 85px;
  }
}

.hero-title {
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-bottom: 8px;

  @include media(mobile) {
    width: 173px;
    font-size: 19px;
    letter-spacing: 0.08em;
  }

  @include media(desktop) {
    width: 590px;
    font-size: 74px;
    letter-spacing: 0.12em;
    margin-bottom: 16px;
  }
}

.hero-text {
  font-style: italic;
  text-align: center;

  @include media(mobile) {
    width: 220px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 111%;
  }

  @include media(desktop) {
    width: 570px;
    height: 48px;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.05em;
    margin-bottom: 45px;
  }
}

.hero-list {
  list-style-type: disc;
  font-style: italic;

  @include media(mobile) {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    padding-left: 34px;
  }

  @include media(desktop) {
    width: 636px;
    height: 175px;
    font-size: 25px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.05em;
  }
}

.google-play-button-container {
  @include media(mobile) {
    margin-top: 36px;
  }

  @include media(desktop) {
    margin-top: 41px;
  }
}

.google-play-button {
  display: flex;
  align-items: center;
  background-color: #183800;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  @include media(mobile) {
    width: 118px;
    height: 34px;
    justify-content: center;
  }

  @include media(desktop) {
    width: 245px;
    height: 62px;
    justify-content: start;
    padding: 7px 8px;
  }
}

.img-hero {
  @include media(mobile) {
    height: 23px;
    width: 21px;
  }

  @include media(desktop) {
    width: 43px;
    height: 48px;
    margin-right: 17px;
  }
}

.text-google-play {
  font-weight: 500;
  text-align: center;
  color: #fff;

  @include media(mobile) {
    font-size: 10px;
    letter-spacing: 0.05em;
  }

  @include media(desktop) {
    font-family: 'Roboto';
    font-size: 12px;
    letter-spacing: 0.04em;
    padding-left: 5px;
  }
}

.title-google-play {
  font-family: 'Roboto';
  font-weight: 400;
  text-align: center;
  color: #fff;

  @include media(mobile) {
    font-size: 16px;
  }

  @include media(desktop) {
    font-size: 28px;
  }
}

.text-google-play-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.img-container {
  position: relative;
  display: flex;
  width: 100%;
}

.phone-king-img {
  position: absolute;
  top: 30px;
  left: 226px;
  z-index: 0;
  object-fit: cover;
  @include media(mobile) {
    height: 174px;
    width: 120px;
  }

  @include media(desktop) {
    transform: rotate(-16deg);
    height: 575px;
    width: 290px;
  }
}

.phone-play-img {
  position: absolute;
  margin-top: 128px;
  z-index: 1;

  @include media(mobile) {
    height: 180px;
    width: 90px;
  }

  @include media(desktop) {
    height: 575px;
    width: 290px;
  }
}
