.container-main-char {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1200px;
  }
}

.main-char-desc-container {
  background-image: url(../img/mobile/bg-main/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/mobile/bg-main/bg-main-mobile@2x.png);
    }
  }
  @include media(desktop) {
    background-image: url(../img/laptop/bg-main/bg-main-laptop.png);
    @media (min-resolution: 192dpi) {
      .hero {
        background-image: url(../img/laptop/bg-main/bg-main-laptop@2x.png);
      }
    }
  }
  @include media(mobile) {
    padding-top: 40px;
    padding-bottom: 97px;
  }
}

.bg-image {
  @include media(mobile) {
    min-width: 668px; /* Щоб div не стискався */
    min-height: 351px;
    background-image: url(../img/mobile/1x/game-comp-mobile.png);
    background-position: -14px center;
    background-size: 668px 351px;
    background-repeat: no-repeat;
  }
}

.img-main-char-desc {
  @include media(mobile) {
    width: 668px;
    height: 351px;
  }
}

.main-char-desc-title {
  @include media(mobile) {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.12em;
    text-align: center;
    margin-bottom: 20px;
  }
}

.main-char-desc-list {
  display: flex;
  position: relative;
  @include media(mobile) {
    font-weight: 600;
    font-size: 14px;
    line-height: 134%;
    letter-spacing: 0.07em;
  }
}

.main-char-desc-list-item {
  width: 70px;
  text-align: center;
}

.king-donuttan-position {
  @include media(mobile) {
    position: absolute;
    top: 335px;
    left: 21px;
  }
}

.lady-tart-position {
  @include media(mobile) {
    position: absolute;
    top: 376px;
    left: 50px;
  }
}

.sir-cupcake-position {
  @include media(mobile) {
    position: absolute;
    top: 399px;
    left: 128px;
  }
}

.count-choco-position {
  @include media(mobile) {
    position: absolute;
    top: 371px;
    left: 214px;
  }
}

.the-jelly-jester-position {
  @include media(mobile) {
    position: absolute;
    top: 317px;
    left: 242px;
  }
}
