.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @include media(mobile) {
    padding-left: 19px;
    padding-right: 19px;
  }

  @include media(desktop) {
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.reviews-container {
  background-image: url(../img/mobile/bg-main/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/mobile/bg-main/bg-main-mobile@2x.png);
    }
  }
  @include media(desktop) {
    background-image: url(../img/laptop/bg-main/bg-main-laptop.png);
    @media (min-resolution: 192dpi) {
      .hero {
        background-image: url(../img/laptop/bg-main/bg-main-laptop@2x.png);
      }
    }
  }
  @include media(mobile) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.reviews-title {
  @include media(mobile) {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.12em;
    text-align: center;
    margin-bottom: 48px;
  }

  @include media(desktop) {
    font-size: 50px;
  }
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  transform: rotate(-10deg);

  @include media(desktop) {
    justify-content: center;
    gap: 24px;
  }
}

.reviews-list-item {
  border-radius: 10px;
  background-color: #5f8313;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  @include media(mobile) {
    width: 115px;
    height: 139px;
    padding-top: 11px;
    padding-left: 8px;
    padding-bottom: 9px;
  }

  @include media(desktop) {
    width: 196px;
    height: 197px;
    padding-top: 11px;
    padding-left: 8px;
    padding-bottom: 9px;
  }
}

.reviews-list-item:not(:first-child) {
  padding-top: 25px;
}

.reviews-list-item:nth-child(5) {
  @include media(mobile) {
    display: none;
  }

  @include media(desktop) {
    display: block;
  }
}

.alice-bg {
  border: 1px solid #95d018;
  background-color: #5f8313;
}

.john-bg {
  border: 1px solid #95d018;
  background-color: #64dc46;
  margin-top: 85px;
}

.emily-bg {
  border: 1px solid #89d12e;
  background-color: #579c00;

  @include media(desktop) {
    margin-top: 30px;
  }
}

.sophia-bg {
  border: 1px solid #95d018;
  background-color: #5f8313;
  margin-top: 150px;

  @include media(desktop) {
    border: 1px solid #b3dc12;
    background-color: #7e9e00;
  }
}

.daniel-bg {
  border: 1px solid #07f42e;
  background-color: #05be23;
  margin-top: 100px;
}

.first-margin {
  @include media(mobile) {
    margin-bottom: 8px;
  }

  @include media(desktop) {
    margin-bottom: 42px;
  }
}

.second-margin {
  @include media(mobile) {
    margin-bottom: 8px;
  }

  @include media(desktop) {
    margin-bottom: 30px;
  }
}

.third-margin {
  @include media(mobile) {
    margin-bottom: 24px;
  }

  @include media(desktop) {
    margin-bottom: 30px;
  }
}

.forth-margin {
  @include media(mobile) {
    margin-bottom: 24px;
  }

  @include media(desktop) {
    margin-bottom: 45px;
  }
}

.reviews-item-text {
  @include media(mobile) {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
  }

  @include media(desktop) {
    font-size: 16px;
    letter-spacing: 0.1em;
  }
}

.reviews-item-title {
  @include media(mobile) {
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: start;
  }

  @include media(desktop) {
    font-size: 22px;
    line-height: 100%;
  }
}
