@import url('./header.scss');
@import url('./hero.scss');
@import url('./benefits.scss');
@import url('./gallery.scss');
@import url('./main-char-desc.scss');
@import url('./cookie.scss');
@import url('./key-features.scss');
@import url('./game-desc.scss');
@import url('./reviews.scss');
@import url('./privacy-policy.scss');
@import url('./terms-cond.scss');
@import url('./footer.scss');

:root {
  font-family: Lora, Inter, Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


